* {
  height: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url(../img/fundo2.jpg);
  background-size: cover;
}

/*Estilização Menu */

.header-menu {
 
  max-width: auto;
}

.container-menu {
  background-color: #d2d8db;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
  margin-top: 0px;
}

nav {
  position: relative;
  width: 524px;
  height: 50px;
  background: #4e0672d7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 523px;
  height: 100%;
  background: #9c05fa;
  border-radius: 8px;
  transition: 0.5s;
}
nav a:nth-child(1):hover ~ span {
  left: 70px;
  width: 60px;
}

nav a:nth-child(2):hover ~ span {
  left: 174px;
  width: 67px;
}

nav a:nth-child(3):hover ~ span {
  left: 282px;
  width: 60px;
}

nav a:nth-child(4):hover ~ span {
  left: 375px;
  width: 75px;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/*Estilização Titulo */
.container-home {
  margin-top: 50px;
  gap: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #6e06e4;
}

/*Estilização SubTitulo */
.conteudo-subtitulo {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #000000;
}

/*Estilização slider*/
.container-slider {
  justify-content: center;
  justify-content: center !important;
  justify-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slide .slide1 {
  width: 500px;
  height: 300px;
  float: left;
  border-radius: 5px;
}

.slide .slide2 {
  border-radius: 5px;
  width: 500px;
  height: 300px;
  float: left;
}

.slide .slide3 {
  border-radius: 5px;
  width: 500px;
  height: 300px;
  float: left;
}

.slide .slide4 {
  border-radius: 5px;
  width: 500px;
  height: 300px;
  float: left;
}

/*Estilização Container Vestidos*/

.titulo-projects {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 20px;
  align-items: center;
  background-color: #9c05fa;
}

.container-projects {
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  justify-items: center;
  text-align: justify;
  padding: 20px;
  color: #035677;
  font-family: "Montserrat", sans-serif;
  background-color:#9d00ff82;
}

h3:hover {
  color: #4c0655;
}

/*Estilização Container Sobre/About*/

.container-sobre {
  font-size: 18px;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align:center;
  background-color: #b27ddb8d;
}

/*Estilização Container Redes*/

.container-redes {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #edf0f1;
  background-color:  #ffffffcb;
  padding: 10px;
  gap: 15px;
}
/*Estilização Container Rodapé*/
.container-rodape {
  height: 80px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #000000;
  background-color:  #ffffffb8;
  margin-bottom: 0px;
  font-size: 15px;
  padding-bottom: 4px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Responsive  */
@media (max-width: 415px) {  
  

  /*Estilização Menu */

  .container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2px;
  }

  /*span do menu Hover */
nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px!important;
  height: 100%;
  background: #9903df;
  border-radius: 8px;
  transition: 0.5s;
}
nav a:nth-child(1):hover ~ span {
  left: 28px;
  width: 72px!important;
}

nav a:nth-child(2):hover ~ span {
  left: 99px;
  width: 72px!important;
}

nav a:nth-child(3):hover ~ span {
  left: 174px;
  width: 70px!important;
}

nav a:nth-child(4):hover ~ span {
  left: 246px;
  width: 72px!important;
}
/*Botoes do Menu nav */
  nav a {
    display: flex;
    margin-left: 5px;
    background-color: #0000004a;
    border-radius: 12px;
  }

  nav .home {
    display: flex;
    justify-content: center;
    width: 68px;
  }

  nav .projects {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }

  nav .about {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }
  nav .contact {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }


  /*Estilização slider RESPONSIVE */

  .container-projects {
    height: 150px;
    margin: 10px;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
    justify-items: center;
    text-align: justify;
    padding: 20px;
    color: #035677;
    font-family: "Montserrat", sans-serif;
    background-color: #000000;
  }

  .container-slider {
    justify-content: center;
    justify-content: center !important;
    justify-items: center;
  }
  
  .slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .slide .slide1 {
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 5px;
  }
  
  .slide .slide2 {
    border-radius: 5px;
    width: 350px;
    height: 300px;
    float: left;
  }
  
  .slide .slide3 {
    border-radius: 5px;
    width: 350px;
    height: 300px;
    float: left;
  }
  



  .pj1 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }
  .pj2 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }
  .pj3 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }
  .pj4 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }

  h3:hover {
    color: #fff700;
  }

  .container-sobre {
    background-color: #000000;
    padding: 20px;
    margin-top: 0px;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }

  .container-rodape {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #000000aa;
    padding: 10px;
  }
}
